<div class="card">
  <h3 class="text-dark card-header text-center font-weight-bold text-uppercase py-4">
    Koszyk
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table responsive="true" small="true" striped="true"
        class="table table-bordered table-responsive-md table-striped text-center">
        <thead class="black white-text">
          <tr>
            <th class="text-center">Author</th>
            <th class="text-center">Title</th>
            <th class="text-center">Price</th>
            <th class="text-center">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookList; let id = index">
            <td>{{ book.author }}
            </td>
            <td>
              {{ book.title }}
            </td>
            <td>
              {{ book.price | currency:' '}} zł
            </td>
            <td>
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0 py-1 px-2"
                  (click)="remove(id)">
                  x
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="border">
    <div class="text-dark col-3 offset-9 my-4">
      Razem: bardzo dużo
      <button type="button" mdbBtn color="dark" mdbWavesEffect>Zapłać</button>
    </div>
  </div>
</div>
