<div class="col-8 offset-2 bg-dark-gray">
  <div class="row p-5">
    <div class="col-4"><img *ngIf="product" class="img-fluid rounded" src="{{product.imageUrl}}" /></div>
    <div class="col-8 my-5 ">
      <div class="text-center">
        <h1 *ngIf="product">{{product.author}}</h1>
        <h1 *ngIf="product">{{product.productName}}</h1>
      </div>
      <div class="m-5">
          <h1 *ngIf="product">{{product.price | currency:' '}}zł</h1>
          <button class="btn btn-primary">Dodaj do koszyka</button>
      </div>
    </div>
    <div class="col-12 mt-5">
        <h1>Opis:</h1>
        <p>{{product.description}}</p>
    </div>
  </div>
</div>
