<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    Logo
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/book"
          routerLinkActive="active"
          >Ksiązki</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/novelties"
          routerLinkActive="active"
          >Nowości</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/best-sellers"
          routerLinkActive="active"
          >Bestsellery</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/promotions"
          routerLinkActive="active"
          >Promocje</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <div class="md-form my-0">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light btn-sm ml-0" type="submit">
          Search
        </button>

        <ul class="navbar-nav mr-auto">
          <li>
            <p class="btn btn-outline-light btn-sm ml-0" type="submit">
              Sign in
            </p>
          </li>
          <li>
            <p class="btn btn-outline-light btn-sm ml-0" routerLink="/basket" type="submit">
              Koszyk
            </p>
          </li>
        </ul>
      </div>
    </form>
  </div>
</nav>
