.dropdown-content {

  background-color: black;
  overflow: auto;
  z-index: 1;
}
.show {  display: none;}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.cross-validation-error input {
  border-left: 5px solid red;
  text-indent: 10px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
  text-indent: 10px;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
  text-indent: 10px;
}
