<div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
  <form class="text-center p-5">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>

    <!-- Sign in button -->
    <button type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/homepage" class="my-4 mx-1 py-1 px-5">Sign
      in
    </button>
    <button type="button" mdbBtn color="success" mdbWavesEffect routerLink="/signup" class="my-4 mx-1 py-1 px-5">Sign
      up
    </button>
  </form>
</div>
