<div class="text-center border border-light col-md-4 offset-md-4 p-5 mt-5">
  <div class="px-5">
    <p class="h4 mb-5">login</p>

    <!-- Email -->
    <input type="text" class="form-control mb-4" placeholder="Login">

    <!-- Password -->
    <input type="password" class="form-control mb-4 mr-5" placeholder="Password">

    <div class="d-flex justify-content-around">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
        <label class="custom-control-label" for="defaultUnchecked" translate>Remember me</label>
      </div>
    </div>

    <!-- Sign in button -->
    <button routerLink="/homepage" routerLinkActive="active" type="button" class="btn btn-primary my-4 mx-1 py-1 px-5">Sign
      in
    </button>
    <button routerLink="/signup" routerLinkActive="active" type="button" class="btn btn-success my-4 mx-1 py-1 px-5">Sign
      up
    </button>
  </div>
</div>