<div class="col-10 offset-1 mt-5">
    <h1 class="text-center my-5" routerLink="/new-titles">Nowości</h1>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 my-3" *ngFor="let product of products; let cardIndex = index">
            <mdb-card class="mt-1 bg-dark text-light">
                <mdb-card-img routerLink="/product/{{product.id}}" src="{{product.imageUrl}}" alt="Card image cap">
                </mdb-card-img>
                <mdb-card-body class="text-center">
                    <mdb-card-title>
                        <h4>{{ product.price | currency:'PLN '}}</h4>
                    </mdb-card-title>
                    <a href="#" mdbBtn color="light" class="waves-light p-2" mdbWavesEffect>{{ buttonText }}</a>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>