<div class="text-dark col-lg-8 offset-lg-2">
  <div class="my-5">
    <h1 class="text-center" routerLink="/new-titles">Nowości</h1>
    <mdb-carousel class="mt-5" [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5" *ngFor="let card of item; let cardIndex = index">
          <mdb-card class="my-1 bg-dark text-light">
            <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
            <mdb-card-body class="text-center">
              <mdb-card-title>
                <h4>{{ card.title }}</h4>
              </mdb-card-title>
              <a href="#" mdbBtn color="light" class="waves-light" mdbWavesEffect>{{ buttonText }}</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="my-5">
    <h1 class="text-center" routerLink="/bestsellers">Bestsellery</h1>
    <mdb-carousel class="mt-5" [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5" *ngFor="let product of products; let cardIndex = index">
          <mdb-card class="my-1 bg-dark text-light">
            <mdb-card-img routerLink="/book" src="{{product.imageUrl}}" alt="Card image cap"></mdb-card-img>
            <mdb-card-body class="text-center">
              <mdb-card-title>
                <h4>{{ product.price | currency:'PLN '}}</h4>
              </mdb-card-title>
              <a href="#" mdbBtn color="light" class="waves-light" mdbWavesEffect>{{ buttonText }}</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="my-5">
    <h1 class="text-center" routerLink="/discounts">Promocje</h1>
    <mdb-carousel class="mt-5" [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5" *ngFor="let product of products; let cardIndex = index">
          <mdb-card class="my-1 bg-dark text-light">
            <mdb-card-img src="{{product.imageUrl}}" alt="Card image cap"></mdb-card-img>
            <mdb-card-body class="text-center">
              <mdb-card-title>
                <h4>{{ product.price | currency:'PLN '}}</h4>
              </mdb-card-title>
              <a href="#" mdbBtn color="light" class="waves-light" mdbWavesEffect>{{ buttonText }}</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>