<div class="col-10 offset-1 mt-5">
  <h1 class="text-center my-5">Wszystkie książki</h1>
  <app-a (messageEvent)="reciveMessage($event)"></app-a>
  <div class="row">
    <div style="position:center;" *ngFor="let product of filteredProducts; let cardIndex = index">
      <div class="col-12 mt-5">
        <mdb-card class="bg-dark text-light">
          <img routerLink="/product/{{product.id}}" routerLinkActive="router-link-active" src="{{product.imageUrl}}"
            style="width:200px;height:280px" alt="Card image cap">
          <mdb-card-body class="text-center">
            <mdb-card-title>
              <h4>{{ product.price | currency:'PLN '}}</h4>
              <!-- <h4>{{ product.discountType}}</h4> -->
            </mdb-card-title>
            <a mdbPopover="Dodano książkę." placement="top" triggers="focus" mdbBtn color="light"
              class="text-dark waves-light p-2" (click)="onClick(product.author, product.price, product.productName)"
              mdbWavesEffect>{{ buttonText }}<i class="demo-icon icon-plus"></i></a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
